.container {
    height: 80px;
    background-color: #00838F;
    display: flex;
    align-items: center;
}

.input {
    width: 912px;
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 9px 0 9px 16px;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    margin-left: 32px;
    margin-right: 8px;
}

.input:focus {
    border: none;
    outline: none;
}

.button {
    width: 105px;
    height: 42px;
    padding: 8px 22px 8px 22px;
    border-radius: 4px;
    opacity: 0px;
    cursor: pointer;
    background-color: #2196F3;
    border: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: white;
}
